astroid==4.0.2
blinker==1.9.0
click==8.3.1
coverage==7.13.4
dill==0.4.1
dnspython==2.8.0
dominate==2.9.1
flake8==7.3.0
Flask==3.1.2
Flask-Bootstrap==3.3.7.1
Flask-Mail==0.10.0
isort==7.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mccabe==0.7.0
platformdirs==4.9.1
pycodestyle==2.14.0
pyflakes==3.4.0
pylint==4.0.4
pymongo==4.16.0
python-dotenv==1.2.1
tomlkit==0.14.0
visitor==0.1.3
Werkzeug==3.1.5
